<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<h1>Users</h1>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Password</th>>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user: ${myUsers}">
    <td th:text="${user.username}"/>
    <td th:text="${user.firstName}"/>
    <td th:text="${user.lastName}"/>
    <td th:text="${user.password}"/>
  </tr>
  </tbody>>
</table>
</body>
</html>