<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Game</title>
</head>
<body class="body_choose" style="height:100vh; display: flex; position: relative; justify-content:center; align-items: center;">
<nav>
    <a href="/user/login"><div class="link_left"><div>Sign out</div></div></a>
    <a href="/user/choose"><div class="link"><div>Home</div></div></a>
</nav>
<table th:each="diff: ${myDifficulty}">
    <h1 th:text="|Ranking ${diff.difficultyS}|" style="padding-bottom: 10px;"/>
    <tr>
        <th class="table_name">Name</th>
        <th class="table_score">Score</th>
        <th class="table_dif">Difficulty</th>
    </tr>
    <tr th:each="result: ${myResults}">
        <td class="table_name" th:text="${result.name}"/>
        <td class="table_score" th:text="${result.pts}"/>
        <td class="table_dif" th:text="${result.difficultyS}"/>
    </tr>
</table>
</form>
</body>
</html>